<div class="hero hero--indigo">
    <div class="hero__content">
        <div class="container center-xs">
            <div class="row">
                <div class="col-md-12 col-xl-12">
                    <div class="flex-fluid">
                        <h1>Deploy your ports in ACI </h1>
                        <p class="text-large">Automate the creation of APIC objects with just few clicks. </p>
                        <p>Your Prefix is <b>{{ prefix }}</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <div class="secondary-tabs">
            <div class="tab-content">
                <div id="tab-intro-content" class="tab-pane active">
                    <div class="panel panel--loose panel--bordered">
                        <div id="content-div" class="row ">

                            <!--STEP 3 CODE BELOW-->

                            <!--STEP 4 CODE BELOW-->

                            <!--STEP 5 CODE BELOW-->

                            <!--STEP 6 CODE BELOW-->

                            <!--STEP 7 CODE BELOW-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>